@import url(http://fonts.googleapis.com/css?family=Happy+Monkey);

/* General
================================================== */
body{
	background-color: #2D8CDD;
	font-family:Helvetica, Arial; }
#world{
    width: 800px;
    height: 768px;
}

/* Navigation
================================================== */


/* Content
================================================== */


/* Misc
================================================== */
footer{ text-align: right; }

/* Other Screen Sizes
================================================== */

@media only screen and (min-width: 768px) and (max-width: 959px){

}

@media only screen and (max-width: 767px){

}

@media only screen and (min-width: 480px) and (max-width: 767px){

}